<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 扫描web相关的bean -->
    <!-- 当使用<context:component-scan/>后，即可将<context:annotation-config/>省去 -->
    <context:component-scan base-package="com.yangkang.ssmdemo01.mvc.controller"/>
    <context:component-scan base-package="com.yangkang.ssmdemo01.system.interceptor"/>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <!-- 静态页面html映射 -->
    <mvc:resources mapping="/**/*.html" location="/"/>

    <!-- 配置jsp视图解析器 显示ViewResolver 在上边的解析错误时使用-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
        <!--<property name="prefix" value="/pages/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

    <!-- 控制层的切面编程,看看和拦截器哪个先执行 -->
    <beans:import resource="classpath:spring/spring-aspectj-cont.xml"/>

    <!-- 拦截器,打印日志 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/pages/**"/>
            <mvc:exclude-mapping path="/*.html"/>
            <bean class="com.yangkang.ssmdemo01.system.interceptor.LogsInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>